<div class="columns is-multiline column-icon">
  <div class="column" (click)="selectIcon('user')">
    <i class="icon-user"></i>
  </div>
  <div class="column" (click)="selectIcon('people')">
    <i class="icon-people"></i>
  </div>
  <div class="column" (click)="selectIcon('user-female')">
    <i class="icon-user-female"></i>
  </div>
  <div class="column" (click)="selectIcon('user-follow')">
    <i class="icon-user-follow"></i>
  </div>
  <div class="column" (click)="selectIcon('user-following')">
    <i class="icon-user-following"></i>
  </div>
  <div class="column" (click)="selectIcon('user-unfollow')">
    <i class="icon-user-unfollow"></i>
  </div>
  <div class="column" (click)="selectIcon('login')">
    <i class="icon-login"></i>
  </div>
  <div class="column" (click)="selectIcon('logout')">
    <i class="icon-logout"></i>
  </div>
  <div class="column" (click)="selectIcon('emotsmile')">
    <i class="icon-emotsmile"></i>
  </div>
  <div class="column" (click)="selectIcon('phone')">
    <i class="icon-phone"></i>
  </div>
  <div class="column" (click)="selectIcon('call-end')">
    <i class="icon-call-end"></i>
  </div>
  <div class="column" (click)="selectIcon('call-in')">
    <i class="icon-call-in"></i>
  </div>
  <div class="column" (click)="selectIcon('call-out')">
    <i class="icon-call-out"></i>
  </div>
  <div class="column" (click)="selectIcon('map')">
    <i class="icon-map"></i>
  </div>
  <div class="column" (click)="selectIcon('location-pin')">
    <i class="icon-location-pin"></i>
  </div>
  <div class="column" (click)="selectIcon('direction')">
    <i class="icon-direction"></i>
  </div>
  <div class="column" (click)="selectIcon('directions')">
    <i class="icon-directions"></i>
  </div>
  <div class="column" (click)="selectIcon('compass')">
    <i class="icon-compass"></i>
  </div>
  <div class="column" (click)="selectIcon('layers')">
    <i class="icon-layers"></i>
  </div>
  <div class="column" (click)="selectIcon('menu')">
    <i class="icon-menu"></i>
  </div>
  <div class="column" (click)="selectIcon('list')">
    <i class="icon-list"></i>
  </div>
  <div class="column" (click)="selectIcon('options-vertical')">
    <i class="icon-options-vertical"></i>
  </div>
  <div class="column" (click)="selectIcon('options')">
    <i class="icon-options"></i>
  </div>
  <div class="column" (click)="selectIcon('arrow-down')">
    <i class="icon-arrow-down"></i>
  </div>
  <div class="column" (click)="selectIcon('arrow-left')">
    <i class="icon-arrow-left"></i>
  </div>
  <div class="column" (click)="selectIcon('arrow-right')">
    <i class="icon-arrow-right"></i>
  </div>
  <div class="column" (click)="selectIcon('arrow-up')">
    <i class="icon-arrow-up"></i>
  </div>
  <div class="column" (click)="selectIcon('arrow-up-circle')">
    <i class="icon-arrow-up-circle"></i>
  </div>
  <div class="column" (click)="selectIcon('arrow-left-circle')">
    <i class="icon-arrow-left-circle"></i>
  </div>
  <div class="column" (click)="selectIcon('arrow-right-circle')">
    <i class="icon-arrow-right-circle"></i>
  </div>
  <div class="column" (click)="selectIcon('arrow-down-circle')">
    <i class="icon-arrow-down-circle"></i>
  </div>
  <div class="column" (click)="selectIcon('check')">
    <i class="icon-check"></i>
  </div>
  <div class="column" (click)="selectIcon('clock')">
    <i class="icon-clock"></i>
  </div>
  <div class="column" (click)="selectIcon('plus')">
    <i class="icon-plus"></i>
  </div>
  <div class="column" (click)="selectIcon('minus')">
    <i class="icon-minus"></i>
  </div>
  <div class="column" (click)="selectIcon('close')">
    <i class="icon-close"></i>
  </div>
  <div class="column" (click)="selectIcon('event')">
    <i class="icon-event"></i>
  </div>
  <div class="column" (click)="selectIcon('exclamation')">
    <i class="icon-exclamation"></i>
  </div>
  <div class="column" (click)="selectIcon('organization')">
    <i class="icon-organization"></i>
  </div>
  <div class="column" (click)="selectIcon('trophy')">
    <i class="icon-trophy"></i>
  </div>
  <div class="column" (click)="selectIcon('screen-smartphone')">
    <i class="icon-screen-smartphone"></i>
  </div>
  <div class="column" (click)="selectIcon('screen-desktop')">
    <i class="icon-screen-desktop"></i>
  </div>
  <div class="column" (click)="selectIcon('plane')">
    <i class="icon-plane"></i>
  </div>
  <div class="column" (click)="selectIcon('notebook')">
    <i class="icon-notebook"></i>
  </div>
  <div class="column" (click)="selectIcon('mustache')">
    <i class="icon-mustache"></i>
  </div>
  <div class="column" (click)="selectIcon('mouse')">
    <i class="icon-mouse"></i>
  </div>
  <div class="column" (click)="selectIcon('magnet')">
    <i class="icon-magnet"></i>
  </div>
  <div class="column" (click)="selectIcon('energy')">
    <i class="icon-energy"></i>
  </div>
  <div class="column" (click)="selectIcon('disc')">
    <i class="icon-disc"></i>
  </div>
  <div class="column" (click)="selectIcon('cursor')">
    <i class="icon-cursor"></i>
  </div>
  <div class="column" (click)="selectIcon('cursor-move')">
    <i class="icon-cursor-move"></i>
  </div>
  <div class="column" (click)="selectIcon('crop')">
    <i class="icon-crop"></i>
  </div>
  <div class="column" (click)="selectIcon('chemistry')">
    <i class="icon-chemistry"></i>
  </div>
  <div class="column" (click)="selectIcon('speedometer')">
    <i class="icon-speedometer"></i>
  </div>
  <div class="column" (click)="selectIcon('shield')">
    <i class="icon-shield"></i>
  </div>
  <div class="column" (click)="selectIcon('screen-tablet')">
    <i class="icon-screen-tablet"></i>
  </div>
  <div class="column" (click)="selectIcon('magic-wand')">
    <i class="icon-magic-wand"></i>
  </div>
  <div class="column" (click)="selectIcon('hourglass')">
    <i class="icon-hourglass"></i>
  </div>
  <div class="column" (click)="selectIcon('graduation')">
    <i class="icon-graduation"></i>
  </div>
  <div class="column" (click)="selectIcon('ghost')">
    <i class="icon-ghost"></i>
  </div>
  <div class="column" (click)="selectIcon('game-controller')">
    <i class="icon-game-controller"></i>
  </div>
  <div class="column" (click)="selectIcon('fire')">
    <i class="icon-fire"></i>
  </div>
  <div class="column" (click)="selectIcon('eyeglass')">
    <i class="icon-eyeglass"></i>
  </div>
  <div class="column" (click)="selectIcon('envelope-open')">
    <i class="icon-envelope-open"></i>
  </div>
  <div class="column" (click)="selectIcon('envelope-letter')">
    <i class="icon-envelope-letter"></i>
  </div>
  <div class="column" (click)="selectIcon('bell')">
    <i class="icon-bell"></i>
  </div>
  <div class="column" (click)="selectIcon('badge')">
    <i class="icon-badge"></i>
  </div>
  <div class="column" (click)="selectIcon('anchor')">
    <i class="icon-anchor"></i>
  </div>
  <div class="column" (click)="selectIcon('wallet')">
    <i class="icon-wallet"></i>
  </div>
  <div class="column" (click)="selectIcon('vector')">
    <i class="icon-vector"></i>
  </div>
  <div class="column" (click)="selectIcon('speech')">
    <i class="icon-speech"></i>
  </div>
  <div class="column" (click)="selectIcon('puzzle')">
    <i class="icon-puzzle"></i>
  </div>
  <div class="column" (click)="selectIcon('printer')">
    <i class="icon-printer"></i>
  </div>
  <div class="column" (click)="selectIcon('present')">
    <i class="icon-present"></i>
  </div>
  <div class="column" (click)="selectIcon('playlist')">
    <i class="icon-playlist"></i>
  </div>
  <div class="column" (click)="selectIcon('pin')">
    <i class="icon-pin"></i>
  </div>
  <div class="column" (click)="selectIcon('picture')">
    <i class="icon-picture"></i>
  </div>
  <div class="column" (click)="selectIcon('handbag')">
    <i class="icon-handbag"></i>
  </div>
  <div class="column" (click)="selectIcon('globe-alt')">
    <i class="icon-globe-alt"></i>
  </div>
  <div class="column" (click)="selectIcon('globe')">
    <i class="icon-globe"></i>
  </div>
  <div class="column" (click)="selectIcon('folder-alt')">
    <i class="icon-folder-alt"></i>
  </div>
  <div class="column" (click)="selectIcon('folder')">
    <i class="icon-folder"></i>
  </div>
  <div class="column" (click)="selectIcon('film')">
    <i class="icon-film"></i>
  </div>
  <div class="column" (click)="selectIcon('feed')">
    <i class="icon-feed"></i>
  </div>
  <div class="column" (click)="selectIcon('drop')">
    <i class="icon-drop"></i>
  </div>
  <div class="column" (click)="selectIcon('drawer')">
    <i class="icon-drawer"></i>
  </div>
  <div class="column" (click)="selectIcon('docs')">
    <i class="icon-docs"></i>
  </div>
  <div class="column" (click)="selectIcon('doc')">
    <i class="icon-doc"></i>
  </div>
  <div class="column" (click)="selectIcon('diamond')">
    <i class="icon-diamond"></i>
  </div>
  <div class="column" (click)="selectIcon('cup')">
    <i class="icon-cup"></i>
  </div>
  <div class="column" (click)="selectIcon('calculator')">
    <i class="icon-calculator"></i>
  </div>
  <div class="column" (click)="selectIcon('bubbles')">
    <i class="icon-bubbles"></i>
  </div>
  <div class="column" (click)="selectIcon('briefcase')">
    <i class="icon-briefcase"></i>
  </div>
  <div class="column" (click)="selectIcon('book-open')">
    <i class="icon-book-open"></i>
  </div>
  <div class="column" (click)="selectIcon('basket-loaded')">
    <i class="icon-basket-loaded"></i>
  </div>
  <div class="column" (click)="selectIcon('basket')">
    <i class="icon-basket"></i>
  </div>
  <div class="column" (click)="selectIcon('bag')">
    <i class="icon-bag"></i>
  </div>
  <div class="column" (click)="selectIcon('action-undo')">
    <i class="icon-action-undo"></i>
  </div>
  <div class="column" (click)="selectIcon('action-redo')">
    <i class="icon-action-redo"></i>
  </div>
  <div class="column" (click)="selectIcon('wrench')">
    <i class="icon-wrench"></i>
  </div>
  <div class="column" (click)="selectIcon('umbrella')">
    <i class="icon-umbrella"></i>
  </div>
  <div class="column" (click)="selectIcon('trash')">
    <i class="icon-trash"></i>
  </div>
  <div class="column" (click)="selectIcon('tag')">
    <i class="icon-tag"></i>
  </div>
  <div class="column" (click)="selectIcon('support')">
    <i class="icon-support"></i>
  </div>
  <div class="column" (click)="selectIcon('frame')">
    <i class="icon-frame"></i>
  </div>
  <div class="column" (click)="selectIcon('size-fullscreen')">
    <i class="icon-size-fullscreen"></i>
  </div>
  <div class="column" (click)="selectIcon('size-actual')">
    <i class="icon-size-actual"></i>
  </div>
  <div class="column" (click)="selectIcon('shuffle')">
    <i class="icon-shuffle"></i>
  </div>
  <div class="column" (click)="selectIcon('share-alt')">
    <i class="icon-share-alt"></i>
  </div>
  <div class="column" (click)="selectIcon('share')">
    <i class="icon-share"></i>
  </div>
  <div class="column" (click)="selectIcon('rocket')">
    <i class="icon-rocket"></i>
  </div>
  <div class="column" (click)="selectIcon('question')">
    <i class="icon-question"></i>
  </div>
  <div class="column" (click)="selectIcon('pie-chart')">
    <i class="icon-pie-chart"></i>
  </div>
  <div class="column" (click)="selectIcon('pencil')">
    <i class="icon-pencil"></i>
  </div>
  <div class="column" (click)="selectIcon('note')">
    <i class="icon-note"></i>
  </div>
  <div class="column" (click)="selectIcon('loop')">
    <i class="icon-loop"></i>
  </div>
  <div class="column" (click)="selectIcon('home')">
    <i class="icon-home"></i>
  </div>
  <div class="column" (click)="selectIcon('grid')">
    <i class="icon-grid"></i>
  </div>
  <div class="column" (click)="selectIcon('graph')">
    <i class="icon-graph"></i>
  </div>
  <div class="column" (click)="selectIcon('microphone')">
    <i class="icon-microphone"></i>
  </div>
  <div class="column" (click)="selectIcon('music-tone-alt')">
    <i class="icon-music-tone-alt"></i>
  </div>
  <div class="column" (click)="selectIcon('music-tone')">
    <i class="icon-music-tone"></i>
  </div>
  <div class="column" (click)="selectIcon('earphones-alt')">
    <i class="icon-earphones-alt"></i>
  </div>
  <div class="column" (click)="selectIcon('earphones')">
    <i class="icon-earphones"></i>
  </div>
  <div class="column" (click)="selectIcon('equalizer')">
    <i class="icon-equalizer"></i>
  </div>
  <div class="column" (click)="selectIcon('like')">
    <i class="icon-like"></i>
  </div>
  <div class="column" (click)="selectIcon('dislike')">
    <i class="icon-dislike"></i>
  </div>
  <div class="column" (click)="selectIcon('control-start')">
    <i class="icon-control-start"></i>
  </div>
  <div class="column" (click)="selectIcon('control-rewind')">
    <i class="icon-control-rewind"></i>
  </div>
  <div class="column" (click)="selectIcon('control-play')">
    <i class="icon-control-play"></i>
  </div>
  <div class="column" (click)="selectIcon('control-pause')">
    <i class="icon-control-pause"></i>
  </div>
  <div class="column" (click)="selectIcon('control-forward')">
    <i class="icon-control-forward"></i>
  </div>
  <div class="column" (click)="selectIcon('control-end')">
    <i class="icon-control-end"></i>
  </div>
  <div class="column" (click)="selectIcon('volume-1')">
    <i class="icon-volume-1"></i>
  </div>
  <div class="column" (click)="selectIcon('volume-2')">
    <i class="icon-volume-2"></i>
  </div>
  <div class="column" (click)="selectIcon('volume-off')">
    <i class="icon-volume-off"></i>
  </div>
  <div class="column" (click)="selectIcon('calendar')">
    <i class="icon-calendar"></i>
  </div>
  <div class="column" (click)="selectIcon('bulb')">
    <i class="icon-bulb"></i>
  </div>
  <div class="column" (click)="selectIcon('chart')">
    <i class="icon-chart"></i>
  </div>
  <div class="column" (click)="selectIcon('ban')">
    <i class="icon-ban"></i>
  </div>
  <div class="column" (click)="selectIcon('bubble')">
    <i class="icon-bubble"></i>
  </div>
  <div class="column" (click)="selectIcon('camrecorder')">
    <i class="icon-camrecorder"></i>
  </div>
  <div class="column" (click)="selectIcon('camera')">
    <i class="icon-camera"></i>
  </div>
  <div class="column" (click)="selectIcon('cloud-download')">
    <i class="icon-cloud-download"></i>
  </div>
  <div class="column" (click)="selectIcon('cloud-upload')">
    <i class="icon-cloud-upload"></i>
  </div>
  <div class="column" (click)="selectIcon('envelope')">
    <i class="icon-envelope"></i>
  </div>
  <div class="column" (click)="selectIcon('eye')">
    <i class="icon-eye"></i>
  </div>
  <div class="column" (click)="selectIcon('flag')">
    <i class="icon-flag"></i>
  </div>
  <div class="column" (click)="selectIcon('heart')">
    <i class="icon-heart"></i>
  </div>
  <div class="column" (click)="selectIcon('info')">
    <i class="icon-info"></i>
  </div>
  <div class="column" (click)="selectIcon('key')">
    <i class="icon-key"></i>
  </div>
  <div class="column" (click)="selectIcon('link')">
    <i class="icon-link"></i>
  </div>
  <div class="column" (click)="selectIcon('lock')">
    <i class="icon-lock"></i>
  </div>
  <div class="column" (click)="selectIcon('lock-open')">
    <i class="icon-lock-open"></i>
  </div>
  <div class="column" (click)="selectIcon('magnifier')">
    <i class="icon-magnifier"></i>
  </div>
  <div class="column" (click)="selectIcon('magnifier-add')">
    <i class="icon-magnifier-add"></i>
  </div>
  <div class="column" (click)="selectIcon('magnifier-remove')">
    <i class="icon-magnifier-remove"></i>
  </div>
  <div class="column" (click)="selectIcon('paper-clip')">
    <i class="icon-paper-clip"></i>
  </div>
  <div class="column" (click)="selectIcon('paper-plane')">
    <i class="icon-paper-plane"></i>
  </div>
  <div class="column" (click)="selectIcon('power')">
    <i class="icon-power"></i>
  </div>
  <div class="column" (click)="selectIcon('refresh')">
    <i class="icon-refresh"></i>
  </div>
  <div class="column" (click)="selectIcon('reload')">
    <i class="icon-reload"></i>
  </div>
  <div class="column" (click)="selectIcon('settings')">
    <i class="icon-settings"></i>
  </div>
  <div class="column" (click)="selectIcon('star')">
    <i class="icon-star"></i>
  </div>
  <div class="column" (click)="selectIcon('symbol-female')">
    <i class="icon-symbol-female"></i>
  </div>
  <div class="column" (click)="selectIcon('symbol-male')">
    <i class="icon-symbol-male"></i>
  </div>
  <div class="column" (click)="selectIcon('target')">
    <i class="icon-target"></i>
  </div>
  <div class="column" (click)="selectIcon('credit-card')">
    <i class="icon-credit-card"></i>
  </div>
</div>