<div id="login" class="edu-card" *ngIf="discipline">
  <div class="field">
    <label class="label">Nome</label>
    <div class="control">
      <input class="input" type="text" [(ngModel)]="discipline.name">
    </div>
    <div class="">
      <label class="label">Status</label>
      <div class="control">
        <select [(ngModel)]="discipline.status">
          <option value="current">Atual</option>
          <option value="finished">Finalizada</option>
          <option value="cancelled">Cancelada</option>
        </select>
      </div>
      <!--
    <div class="field">
      <label class="label">Icon</label>
      <div class="control">
        <input class="input" type="text" [(ngModel)]="icon">
      </div>
    </div> -->

      <div class="field is-grouped is-grouped-right">
        <div class="control">
          <button class="button is-primary" [class.is-loading]="loading" (click)="editDiscipline()">Editar Disciplina</button>
        </div>
      </div>

      <article class="message is-success" *ngIf="success">
        <div class="message-body">
          {{success}}
        </div>
      </article>

      <article class="message is-danger" *ngIf="error">
        <div class="message-body">
          {{error}}
        </div>
      </article>
    </div>
  </div>
</div>