<br>
<div id="dashboard-discipline" class="edu-card">
  <h3></h3>
  
  <div *ngFor="let item of items | async">	    
  	- <a class="button is-link" [routerLink]="['topic', item.id]">{{item.name}}</a>
  </div>

  <br>
  <div class="field is-grouped is-grouped-right">
    <div class="control">
    	<a routerLink="add-topic" class="button is-primary">Adicionar Tópico</a>
    </div>
  </div>

  <article class="message is-danger" *ngIf="error">
    <div class="message-body">
      {{error}}
    </div>
  </article>
</div>