<br>
<div id="dashboard-discipline" class="edu-card" *ngIf="topic">
  <h1>{{topic.name}}</h1>
  <br>
  <div *ngFor="let message of messages | async">
   <div *ngIf="users">
   	<p class="field is-grouped is-grouped-right">{{users[message.sender].firstname}} 
   	{{users[message.sender].lastname}}</p>
  	<p class="field is-grouped is-grouped-left">{{message.text}}</p>	
   </div>
  </div>

  <br>

  <div class="control">
    <input class="input" type="text" [(ngModel)]="messageText">
  </div>

  <div class="field is-grouped is-grouped-right">
    <div class="control">
    	<button class="button is-primary" (click)="send()" [class.is-loading]="loading">Enviar</button>
    </div>
  </div>

  <article class="message is-danger" *ngIf="error">
    <div class="message-body">
      {{error}}
    </div>
  </article>
</div>