<div class="menu" *ngIf="authService.user">
  <div class="container is-clearfix">
    <div class="is-pulled-left brand">Edutive</div>
    <div class="is-pulled-right user-area">
      <div class="user-photo">{{authService.user.firstname.substr(0, 1) + authService.user.lastname.substr(0, 1)}}</div>

      <div class="dropdown" [class.is-active]="openMenu">
        <div class="dropdown-trigger">
          <button class="button" aria-haspopup="true" aria-controls="dropdown-menu" (click)="openMenu = !openMenu">
            <span>{{authService.user.firstname + ' ' + authService.user.lastname}}</span>
            <span class="icon is-small">
              <i class="icon-arrow-down"></i>
            </span>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu" role="menu">
          <div class="dropdown-content">
            <a href="javascript:void(0)" class="dropdown-item">Editar Perfil</a>
            <hr class="dropdown-divider">
            <a href="javascript:void(0)" class="dropdown-item" (click)="logout()">Sair</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>