<div class="menu" *ngIf="authService.user">
  <div class="container">
    <div class="brand">
      <a routerLink="/">Edutive</a>
      <div *ngIf="discipline">{{discipline.name}}</div>
    </div>
    <div class="user-area">
      <div class="user-photo">{{authService.user.firstname.substr(0, 1) + authService.user.lastname.substr(0, 1)}}</div>

      <div class="dropdown" [class.is-active]="openMenu" click-outside (clickOutside)="onClickOutside($event)">
        <div class="dropdown-trigger">
          <button class="button" aria-haspopup="true" aria-controls="dropdown-menu" (click)="openMenu = !openMenu">
            <span>{{authService.user.firstname + ' ' + authService.user.lastname}}</span>
            <span class="icon is-small">
              <i class="icon-arrow-down"></i>
            </span>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu" role="menu">
          <div class="dropdown-content">
            <a href="javascript:void(0)" class="dropdown-item">Editar Perfil</a>
            <hr class="dropdown-divider">
            <a href="javascript:void(0)" class="dropdown-item" (click)="logout()">Sair</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container sub-menu-container" *ngIf="discipline">
    <div class="sub-menu">
      <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/discipline/', disciplineID]"><i class="icon-chart"></i> Resumo</a>
      <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/discipline/', disciplineID, 'quizes']"><i class="icon-question"></i> Quizes</a>
      <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/discipline/', disciplineID, 'forum']"><i class="icon-envelope-open"></i> Fórum</a>
      <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/discipline/', disciplineID, 'contents']"><i class="icon-calculator"></i> Conteúdo</a>
      <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/discipline/', disciplineID, 'students']"><i class="icon-people"></i> Alunos</a>
      <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/discipline/', disciplineID, 'edit']"><i class="icon-settings"></i> Editar</a>
    </div>
  </div>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>