@import '../variables.scss';

.menu {
  background-color: #fff;
  min-height: 50px;

  margin-bottom: 20px;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);

  .container {
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .brand {
    display: flex;
    min-height: 50px;

    align-items: center;

    div {
      margin-left: 10px;
      padding-left: 10px;

      border-left: 1px solid #eee;
    }
  }

  .user-area {
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 100%;

    .user-photo {
      color: #fff;

      width: 40px;
      height: 40px;

      border-radius: 50%;
      border: 1px solid #bababa;

      background-color: $orange;

      justify-content: center;
      align-items: center;
      display: flex;

      margin-right: 10px;
    }

    .is-small {
      i {
        font-size: 12px;
      }
    }
  }

  .sub-menu-container {
    border-top: 1px solid #eee;
    padding-top: 10px;

    .sub-menu {
      font-size: 14px;

      margin-bottom: 10px;

      a {
        color: $blue;

        padding: 5px 10px;

        border-right: 1px solid #eee;

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          border: none;
        }

        &.active,
        &:hover {
          color: $orange;
        }
      }
    }
  }
}
