@import '../../variables.scss';

.add-content {
  width: 160px;

  display: flex;
  flex-direction: column;

  .center {
    text-align: center;

    font-size: 14px;
  }

  &:hover {
    color: $pink;
  }
}

.content-list {
  margin-top: 20px;

  .content {
    cursor: pointer;

    .content-body {
      padding: 20px;

      .name {
        color: $orange;
        font-size: 20px;

        display: block;
        display: -webkit-box;
        max-width: 400px;
        height: 120px;
        margin: 0 auto;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    &:hover {
      .content-body {
        .name {
          color: $pink;
        }
      }
    }
  }
}