@import '../../variables.scss';

.quiz-list {
  margin-top: 10px;

  .question-card {
    background-color: #f7f7f7;
    padding: 20px;

    border-radius: 8px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);

    color: $orange;
    font-size: 20px;

    button {
      margin-top: 10px;
    }
  }
}
