@import '../../variables.scss';

.add-quiz {
  width: 160px;

  display: flex;
  flex-direction: column;

  .center {
    text-align: center;

    font-size: 14px;
  }

  &:hover {
    color: $pink;
  }
}

.quiz-list {
  margin-top: 20px;

  .quiz {
    cursor: pointer;

    .quiz-top {
      background-color: #f7f7f7;
      padding: 20px;

      border-top-left-radius: 8px;
      border-top-right-radius: 8px;

      display: flex;
      justify-content: space-between;
      align-items: center;

      i {
        color: $orange;
        font-size: 38px;
      }

      .tag {
        border-radius: 15px;
        font-size: 12px;

        color: #fff;

        &.is-current {
          background-color: $pink;
        }
        &.is-finished {
          background-color: $blue;
        }
        &.is-cancelled {
          background-color: $dark;
        }
      }
    }

    .quiz-body {
      padding: 20px;

      .name {
        color: $orange;
        font-size: 20px;
      }

      .quiz-icons {
        display: flex;
        flex-direction: row;

        margin-top: 10px;

        .icon {
          margin-right: 20px;
        }
      }
    }

    &:hover {
      .quiz-top {
        i {
          color: $pink;
        }
      }
      .quiz-body {
        .name {
          color: $pink;
        }
      }
    }
  }
}
