<a routerLink="add" class="edu-card add-quiz">
  <div class="center">
    <i class="icon-plus"></i>
    <span>Adicionar Quiz</span>
  </div>
</a>

<div class="quiz-list columns is-multiline">
  <div class="column is-4" *ngFor="let item of items | async">
    <div class="edu-card quiz is-paddingless" (click)="openQuiz(item)">
      <div class="quiz-body">
        <div class="name">{{item.name}}</div>
        <div class="quiz-icons">
          <!-- <div class="icon">
            <i class="icon-people"></i>
            <span>10/25</span>
          </div> -->
          <div class="icon">
            <i class="icon-question"></i>
            <span>{{item.questions}}</span>
          </div>
          <!-- <div class="icon">
            <i class="icon-flag"></i>
            <span>10</span>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>