<div id="dashboard-discipline" class="edu-card">
  <div class="field">
    <label class="label">Pergunta</label>
    <div class="control">
      <textarea class="textarea" [(ngModel)]="question"></textarea>
    </div>
  </div>
  <div class="field">
    <label class="label">Assunto</label>
    <div class="control">
      <input class="input" type="text" [(ngModel)]="content">
    </div>
  </div>
  <div class="field">
    <label class="label">Opção A</label>
    <div class="control">
      <input class="input" type="text" [(ngModel)]="option1" [class.is-success]="correctOption === 'a'">
    </div>
  </div>
  <div class="field">
    <label class="label">Opção B</label>
    <div class="control">
      <input class="input" type="text" [(ngModel)]="option2" [class.is-success]="correctOption === 'b'">
    </div>
  </div>
  <div class="field">
    <label class="label">Opção C</label>
    <div class="control">
      <input class="input" type="text" [(ngModel)]="option3" [class.is-success]="correctOption === 'c'">
    </div>
  </div>
  <div class="field">
    <label class="label">Opção D</label>
    <div class="control">
      <input class="input" type="text" [(ngModel)]="option4" [class.is-success]="correctOption === 'd'">
    </div>
  </div>
  <div class="field">
    <label class="label">Resposta Correta</label>
    <div class="control">
      <div class="select">
        <select [(ngModel)]="correctOption">
        <option value="a">Opção A</option>
        <option value="b">Opção B</option>
        <option value="c">Opção C</option>
        <option value="d">Opção D</option>
      </select>
      </div>
    </div>
  </div>

  <div class="field is-grouped is-grouped-right">
    <div class="control">
      <a routerLink="/{{backString}}" class="button is-link">Cancelar</a>
      <button class="button is-primary" (click)="addContent()" [class.is-loading]="loading" [disabled]="disableButton()">Salvar</button>
    </div>
  </div>
</div>